In [ ]:
# need to clone https://github.com/FairnessMeasures/fairness-measures-code
# and move to a folder named fairnessmeasures
from fairnessmeasures.src.measures.absolute_measures import *
from fairnessmeasures.src.measures.statistical_tests import *
from fairnessmeasures.src.data_structure.dataset import Dataset

In [ ]:
data = pd.read_csv("Heart_Disease_Prediction.csv")
data.target = data.target.map({'Presence': 1, 'Absence': 0})
data.rename(columns={
    'Sex': 'protected_sex'}, inplace=True)

     Age  protected_sex  ...  Thallium  target
0     70              1  ...         3       1
1     67              0  ...         7       0
2     57              1  ...         7       1
3     64              1  ...         7       0
4     74              0  ...         3       0
..   ...            ...  ...       ...     ...
265   52              1  ...         7       0
266   44              1  ...         7       0
267   56              0  ...         3       0
268   57              1  ...         6       0
269   67              1  ...         3       1

[270 rows x 14 columns]

In [13]:
def run_demo(filename):
    print('Running all measures with an example dataset and prints results to stdout. Please note, that this dataset was created artificially.')
    dataset = Dataset(filename)

    print('=========== difference of means test =============')
    print(t_test_ind(dataset, 'target', 'protected_sex'))

    print('\n=========== mean differences ==============')
    print(mean_difference(dataset, 'target', 'protected_sex').T)

    print('\n=========== normalized differences ============')
    print(normalized_difference(dataset, 'target', 'protected_sex'))

    print('\n=========== impact ratio ============')
    print(impact_ratio(dataset, 'target', 'protected_sex'))

    print('\n=========== odds ratio ============')
    print(fisher_exact_two_groups(dataset, 'target', 'protected_sex'))

In [15]:
run_demo(data)

Running all measures with an example dataset and prints results to stdout. Please note, that this dataset was created artificially.
=========== difference of means test =============
TtestResult(statistic=np.float64(5.105414033167951), pvalue=np.float64(6.26693794993591e-07), df=np.float64(268.0))

=========== mean differences ==============
               1
target -0.316563

=========== normalized differences ============
-0.3862068965517242

=========== impact ratio ============
1.2295081967213117

=========== odds ratio ============
SignificanceResult(statistic=np.float64(4.036144578313253), pvalue=np.float64(9.524080136454769e-07))